<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Galla</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.css">

    <style>
        .card {
            display: inline-flex;
            min-width: 300px;
            max-width: calc(20% - 10px);
            max-height: 300px;
            min-height: 300px;
            margin: 5px 5px 5px 5px;
        }
        
        .card-body {
            overflow: hidden;
        }
    </style>
</head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/main">Galla</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">New ticket<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Change project</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/logOutUser">Sign Out</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
  <div id="ticketApp">

        <div v-for="ticket in tickets" class="card" :id="'ticket'+ticket.id">
            <div class="card-header">{{ ticket.name }}</div>
            <div class="card-body">{{ ticket.description }}</div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" :data-target="'#modal'+ticket.id">Edit</button>
            </div>

            <!-- The Modal -->
            <div class="modal" :id="'modal'+ticket.id">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">{{ ticket.name }}</h4>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">

                            <form :id="'form' + ticket.id" :name="'form' + ticket.id" class="form-horizontal">
                                <fieldset>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_name">Ticket name</label>
                                        <div class="col-md-12">
                                            <input name="ticket_name" type="text" placeholder="not set" class="form-control input-md ticket_name" :value="ticket.name">
                                        </div>
                                    </div>

                                    <!-- Textarea -->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_description">Ticket description</label>
                                        <div class="col-md-12">
                                            <textarea class="form-control ticket_description" name="ticket_description">{{ ticket.description }}</textarea>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_id">Ticket ID: {{ ticket.id }}</label>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_created_on">Created on: {{ ticket.created_on }}</label>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_completed_on">Completed on: {{ ticket.completed_on }}</label>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_deadline">Deadline:</label>
                                        <div class="col-md-12">
                                            <input  name="ticket_deadline" type="text" placeholder="not set" class="form-control input-md ticket_deadline" :value="ticket.deadline">
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_completed_by">Completed by:</label>
                                        <div class="col-md-12">
                                            <ul>
                                                <li name="ticket_completed_by" v-for="user in ticket.completed_by" :key="user">
                                                    {{ user }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_created_by">Created by:</label>
                                        <div class="col-md-12">
                                            <ul>
                                                <li name="ticket_created_by" v-for="user in ticket.created_by" :key="user">
                                                    {{ user }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_assigned_to">Assigned to:</label>
                                        <div class="col-md-12">
                                            <ul>
                                                <li name="ticket_assigned_to" v-for="user in ticket.assigned_to" :key="user">
                                                    {{ user }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_status">Status:</label>
                                        <div class="col-md-12">
                                            <input  name="ticket_status" type="text" placeholder="not set" class="form-control input-md ticket_status" :value="ticket.status">
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_importance">Importance:</label>
                                        <div class="col-md-12">
                                            <input  name="ticket_importance" type="text" placeholder="not set" class="form-control input-md ticket_importance" :value="ticket.importance">
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_project_id">Project ID: {{ ticket.project_id }}</label>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="ticket_estimated_time_needed">Estimated time needed:</label>
                                        <div class="col-md-12">
                                            <ul>
                                                <li name="ticket_assigned_to" v-for="(value, name) in ticket.estimated_time_needed">
                                                    {{ name }}: {{ value }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Button (Double) -->
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button name="ticket_save" class="btn btn-success" v-on:click="saveChanges(ticket.id);">Save</button>
                                            <button name="ticket_discard" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Modal -->
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="/js/main.js"></script>
</body>

</html>